.table-holder {
  background-color:white;
  padding: 15px;
  padding-top: 5px;
  border-radius: 5px;
  margin-left: 45px;
  margin-right: 45px;
}

.title-holder {
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}
th,td,tr {
  text-align: center ;
    color: black;
    
  }
   
 
tr:hover td.highlight div {
transform: scaleX(3);
}
  
.example-full-width {
  width: 100%;
  
}



.center { /*for button*/
  display: flex;
  justify-content: center;
  align-items: center;
 
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  padding: 5px;
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}


.mat-row:nth-child(2n) {
  background-color: #b8b5b5;
}

.mat-header-cell:first-child {
  border-top-left-radius: 10px;
}
.mat-header-cell:last-child {
  border-top-right-radius: 10px;
}

.mat-header-cell span {
  font-weight: 600;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}

.mat-header-cell {
  background-color: #393939;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}
.mat-header-cell:not(:first-child) {
  padding-left: 0;
}


td {
  text-align:center;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}
td.highlight {
  padding:0;
  width:4px;
}
td.highlight div {
  width:4px;
  height:60px;
  border-radius:4px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

tr:hover {
  box-shadow: 0px 9px 4px -6px grey;
 }
 tr:hover td{
   cursor:pointer;
   color:red;
   border-top: 1px solid grey;
   border-bottom: 1px solid grey;
 }
 